<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="igor.shaula.podcast_listener">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="igor.shaula.podcast_listener.activities.StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="igor.shaula.podcast_listener.activities.DetailActivity" />

        <!-- <receiver android:name=".receiver.NetworkStateReceiver" /> -->
        <!-- this receiver is registered/unregistered dynamically & locally in activity -->

        <service
            android:name="igor.shaula.podcast_listener.services.StartingIntentService"
            android:exported="false" />

        <service
            android:name="igor.shaula.podcast_listener.services.MediaPlayerService"
            android:exported="false" />

    </application>

</manifest>